<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <h1 class="mt-4">Word Combiner</h1>
      <hr>
      <!-- Post Content -->
      <p class="lead">
        Use this Web app to generate words by combining other words. It uses javascript on the browser to
        generate the words. Everything happens in the client side and we dontot collect any data.
        <hr>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Categories Widget -->
      <div class="card my-4">
        <div class="card-body">
          You can put upto 4 words or length 26 or less and generate the different
          words from the combination.
          For instance for Advice, and Get it will generate Getvice. <br><br>
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#"><b>Get</b> + <b>Advice</b> = Getvice</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>